language: haskell
sudo: required
# Cache .stack for build_times--
cache:
  directories:
  - $HOME/.stack
before_install:
# Download and unpack the stack executable
- mkdir -p ~/.local/bin
- export PATH=$HOME/.local/bin:$PATH
- travis_retry curl -L https://www.stackage.org/stack/linux-x86_64 | tar xz --wildcards --strip-components=1 -C ~/.local/bin '*/stack'
install:
- print "" | stack repl --with-ghc clash
- print "" | stack repl
script:
- stack test
