stages:
  - build
  # TODO: add test stage to prevent cache throwouts if test failed?
  - publish

.tests:
  image: clashlang/clash-ci:2020-04-15
  stage: build
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    TERM: xterm-color
  retry:
    max: 2
    when:
      - runner_system_failure
      - stuck_or_timeout_failure
  cache:
    key: cabal-store-$CI_JOB_NAME
    paths:
      - cabal-store/
  script:
    - unset SNAPCRAFT_LOGIN_FILE
    - unset HACKAGE_PASSWORD
    # Use either ${GHC} or if that's not set, try to detect GHC version by analyzing
    # $CI_JOB_NAME.
    - export GHC="${GHC:-$(echo $CI_JOB_NAME | egrep -o 'ghc-[0-9]+.[0-9]+.[0-9]+')}"
    - export THREADS=$(nproc)
    - export CABAL_JOBS=$(nproc)
    - export
    - .ci/setup.sh
    - .ci/build.sh
    - .ci/test.sh

.tests-interruptible:
  extends: .tests
  interruptible: true
  except:
    - master

# Test jobs:
ghc-8.4.4:
  extends: .tests-interruptible
#ghc-8.6.5:
#  extends: .tests
ghc-8.8.3:
  extends: .tests-interruptible
ghc-8.6.5-singular-hidden:
  extends: .tests-interruptible
  variables:
    MULTIPLE_HIDDEN: "no"
#ghc-head:
#  # extends: .tests-interruptible
#  stage: build
#  allow_failure: true
#  script:
#    TODO test with HEAD

# Same as test jobs, but non-interruptable
ghc-8.4.4-master:
  extends: .tests
  only:
    - master
#ghc-8.6.5:
#  extends: .tests
ghc-8.8.3-master:
  extends: .tests
  only:
    - master
ghc-8.6.5-singular-hidden-master:
  extends: .tests
  only:
    - master
  variables:
    MULTIPLE_HIDDEN: "no"
#ghc-head-master:
#  # extends: .tests-non-interruptible
#  only:
#    - master
#  stage: build
#  allow_failure: true
#  script:
#    TODO test with HEAD

hackage-sdist:
  extends: .tests
  interruptible: false
  variables:
    GHC: ghc-8.6.5
  script:
    - export GHC="${GHC:-$CI_JOB_NAME}"
    - export THREADS=$(nproc)
    - export CABAL_JOBS=$(nproc)
    - .ci/setup.sh
    - .ci/build_sdist.sh clash-prelude
    - .ci/build_sdist.sh clash-lib
    - .ci/build_sdist.sh clash-ghc
  artifacts:
    paths:
      - clash-*.tar.gz  # clash-{prelude,lib,ghc}-$version{-docs,}.tar.gz
    expire_in: 1 week
  only:
    - tags
    - schedules
    - triggers

.hackage:
  extends: .tests
  interruptible: false
  stage: publish
  cache:
    key: hackage
  variables:
    GHC: ghc-8.6.5
  script:
    - export GHC="${GHC:-$CI_JOB_NAME}"
    - export THREADS=$(nproc)
    - export CABAL_JOBS=$(nproc)
    - .ci/setup.sh
    - .ci/publish_sdist.sh clash-prelude
    - .ci/publish_sdist.sh clash-lib
    - .ci/publish_sdist.sh clash-ghc

# "Publish" a release candidate
hackage-release-candidate:
  extends: .hackage

  variables:
    HACKAGE_RELEASE: "no"

  only:
    - schedules
    - triggers

# Release new version of Clash to Hackage
hackage-release:
  extends: .hackage

  variables:
    HACKAGE_RELEASE: "yes"

  only:
    - tags

# Create a binary distribution using nix, and store it in a tarball. A special
# nix distribution is used that has its store installed on /usr/nix/store,
# instead of the default /nix. This is used to work around a know limitation
# of snap layouts. As of August 2019 the snapcraft docs mention:
#
#  > Layouts cannot currently create new top-level files or directories.
#  >
#  >  - https://snapcraft.io/docs/snap-layouts
#
# If this limitation is ever annulled, we can use a "proper" nix distribution.
snap-bindist:
  image: clashlang/nixbuntu:2.3.3
  stage: build
  cache:
    key: usr-nix-$CI_JOB_NAME
    paths:
      # GitLab CI uses zip as a cache archive. For some reason, nix can't
      # handle this (wrong permissions, missing symlinks?), so we pre-tar it.
      - usr_nix.tar.xz
  artifacts:
    when: always
    paths:
      - nix_build.log
      - bindist/linux/snap/clash-snap-bindist.tar.xz
    expire_in: 1 week
  script:
    # TODO: Clean up nix-store after building
    - export THREADS=$(nproc)
    - export XZ_DEFAULTS="-T ${THREADS} -3"
    - export ROOT=$(pwd)
    - tar xf usr_nix.tar.xz -C / || true
    - apt update
    - apt install ksh -y  # TODO: Remove need for ksh in mkBinDist.sh
    - cd bindist/linux/snap && ./mkBinDist.sh |& tee $ROOT/nix_build.log | (egrep -i '^(building|copying)' || true)
    - tar cJf $ROOT/usr_nix.tar.xz /usr/nix

  # Run every night, when explicitly triggered, or when tagged (release)
  only:
    - schedules
    - triggers
    - tags

# Use binary distribution built in `snap-bindist` to build a snap pacakge.
.snap:
  image: snapcore/snapcraft
  stage: publish
  cache:
    key: snap-last-run-hash
    paths:
      - snap-last-run-hash
  artifacts:
    when: always
    paths:
      - bindist/linux/snap/*.snap
    expire_in: 1 week
  script:
    - export SNAPCRAFT_BUILD_ENVIRONMENT_CPU=$(nproc)
    - export SNAPCRAFT_BUILD_ENVIRONMENT_MEMORY=16G
    - apt update
    - apt install git -y
    - touch snap-last-run-hash
    - |
      if [ "$(cat snap-last-run-hash)" == "$(git rev-parse HEAD)-${RELEASE_CHANNEL}" ]; then
        echo "Already built and published $(git rev-parse HEAD) on ${RELEASE_CHANNEL}. Nothing to do!";
        exit 0;
      fi
    - git rev-parse HEAD > snap-last-run-hash
    - echo "-${RELEASE_CHANNEL}" >> snap-last-run-hash
    - cd bindist/linux/snap
    - echo $SNAPCRAFT_LOGIN_FILE | base64 --decode --ignore-garbage > snapcraft.login
    - snapcraft login --with snapcraft.login
    - snapcraft
    - snapcraft push *.snap --release ${RELEASE_CHANNEL}

snap-beta:
  extends: .snap
  variables:
    RELEASE_CHANNEL: beta
  only:
    - schedules
    - triggers

snap-stable:
  extends: .snap
  variables:
    RELEASE_CHANNEL: stable
  only:
    - tags
