name: CI
on: pull_request_target

concurrency:
  group: ${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  build_and_test:
    # Only run for external PRs
    if: github.event.pull_request.head.repo.full_name != github.repository
    runs-on: ubuntu-latest

    name: Build and Test

    strategy:
      matrix:
        include:
          - name: GHC 8.6.5, Single Hidden
            ghc: 8.6.5
            multiple_hidden: no

          - name: GHC 8.8.4, Multiple Hidden
            ghc: 8.8.4
            multiple_hidden: yes

          - name: GHC 8.10.2, Multiple Hidden
            ghc: 8.10.2
            multiple_hidden: yes

          - name: GHC 9.0.2, Multiple Hidden
            ghc: 9.0.2
            multiple_hidden: yes

    # Run steps inside the clash CI docker image
    container:
      image: ghcr.io/clash-lang/clash-ci-${{ matrix.ghc }}:2022-02-02

      env:
        THREADS: 2
        CABAL_JOBS: 2
        MULTIPLE_HIDDEN: ${{ matrix.multiple_hidden }}
        CI_COMMIT_BRANCH: ${{ github.base_ref }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: true
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}

      - name: Setup CI
        run: |
          ./.ci/setup.sh
          cabal v2-freeze

          # We only want this for caching, and it makes the CI scripts way
          # more brittle than is ideal.
          mv cabal.project.freeze frozen

      - name: Restore Cache
        uses: actions/cache@v2
        with:
          path: |
            dist-newstyle
            ~/.cabal/packages
            ~/.cabal/store

          key: ${{ matrix.ghc }}-${{ hashFiles('frozen') }}
          restore-keys: ${{ matrix.ghc }}-

      - name: Build Clash
        run: ./.ci/build.sh

      - name: Unit Tests
        run: |
          cabal v2-test clash-prelude
          cabal v2-test clash-lib
          cabal v2-test clash-cores
          cabal v2-test clash-cosim

      - name: Testsuite (VHDL)
        run: cabal v2-run clash-testsuite -- -j$THREADS --hide-successes -p .VHDL

      - name: Testsuite (Verilog)
        run: cabal v2-run clash-testsuite -- -j$THREADS --hide-successes -p .Verilog

      - name: Testsuite (SystemVerilog)
        run: cabal v2-run clash-testsuite -- -j$THREADS --hide-successes -p .SystemVerilog --no-modelsim
